body {
  background-color: #474545;
  position: absolute;
  width: 100%;
  background-size: 25% 25%;
  background-position: center -20%, center 120%;
  z-index: 1;
}

/*@media (min-height: 500px) and (min-width: 580px) {
  .home__page {
    height: 100%;
  }
}*/