*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
text-align: center;
}

h6 {
  text-decoration: underline;
  font-family: 'Smythe', cursive;
  margin-top: 30%;
  margin-bottom: 15%;
}

h1 {
  margin-bottom: 50px;
  font-family: 'Limelight', cursive;
}

p {
  margin-bottom: 90px;
  font-family: 'Smythe', cursive;
}

.nav{
  font-family: 'Limelight', cursive;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  text-decoration: underline;
}